<!DOCTYPE html>
<html lang="en">

{{!-- header with scripts --}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

{{!-- navbar --}}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/images/P.png" id="p-img" alt="post med image"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {{#ifvalue user.role value="doctor"}}
      <a class="nav-item nav-link" href="/auth/addActivity">Add an Activity</a>
      {{/ifvalue}}
      {{#if user}}
      <a class="nav-item nav-link active" href="/summary">Treatments<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" onclick="openNav()">Profile</a>
      {{/if}}
      <a class="nav-item nav-link" href="/about">About</a>
      {{#if user}}
      <a class="nav-item nav-link" href="/logout">Sign out</a>
      {{/if}}
    </div>
  </div>
</nav>

{{!-- body contains variable views --}}

<body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  {{{body}}}
  <script src="/javascripts/script.js"></script>






  {{!-- Adding a Side panel from : https://www.w3schools.com/howto/howto_js_collapse_sidepanel.asp --}}
  {{#if user}}
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="sidepanelText card text-white d-flex justify-content-center ml-5 mr-5 mb-2 pb-3">
      <img src="/images/doggy.jpg" class="card-img-top mb-3" alt="...">
      <a href="#">{{user.firstName}} {{user.lastName}} </a>

      <a href="#">DOB: {{formatDate user.birthDate}} </a>
      <a href="#">{{user.gender}}</a>
      <a href="#">Pregnancy</a>
      <a href="#">Cancer</a>

    </div>

    <div class="disclaimer d-flex justify-content-center flex-wrap ml-4 mr-4">
      <h5 class="mt-2 mb-2">DISCLAIMER</h5>
      <p class="mt-2 mb-2">
        If you feel like flat Earth theory has gotten unaccountably popular recently, you’re right. According to
        Google
        Trends, search interest in the flat Earth conspiracy theory has already had several distinct peaks in the
        last
        year. (“The last year” was 2017, not 1519, just to be clear.) It’s funny, weird, and while it’s certainly
        not at
        the top of our list of problems as a society, it’s not entirely innocent either. ITS FUCKING CONCERNING.
      </p>

    </div>
  </div>
  </div>
  </div>


  {{/if}}


  {{!-- Footer from Ironhack Class --}}
  <footer class="dark-background container-fluid row">
    <div class="container col-md-6">
      <h5>Contact Information</h5>
      <address>IronSkydive <br> 33 Rue la Fayette, <br> 75009 Paris, <br> France <br> +33 (0) 619 193 088</address>
      {{!-- <h5>Follow us</h5>
      <ul>
        <li><a href="https://twitter.com" target="_blank" class="link">Twitter</a></li>
        <li><a href="https://www.facebook.com" target="_blank" class="link">Facebook</a></li>
        <li><a href="https://www.instagram.com" target="_blank" class="link">Instagram</a></li>
      </ul> --}}
    </div>
    <div class="container col-md-6 doggy-container">

      <iframe src="https://giphy.com/embed/1d7F9xyq6j7C1ojbC5" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>

    </div>
  </footer>



</body>

</html>